body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.user-info {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.user-info span {
  margin-right: 10px;
}

header h1 {
  margin: 0;
  font-size: 2rem;
  margin-right: auto;
}

nav h1 a {
  color: white;
  text-decoration: none;
}

.user-info span:first-child {
  margin-right: 0.5rem;
}

#logout {
  background-color: #999;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#success-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #28a745;
  color: white;
  padding: 1rem;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

#success-popup p {
  margin: 0;
  font-size: 1.1rem;
}

#ok-button1 {
  background-color: white;
  color: #28a745;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

#ok-button1:hover {
  background-color: #e5ffe5;
}

#error-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #a72828;
  color: white;
  padding: 1rem;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

#error-popup p {
  margin: 0;
  font-size: 1.1rem;
}

#ok-button2 {
  background-color: white;
  color: #a72828;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

#ok-button2:hover {
  background-color: #ffe5e5;
}

.profile {
  background-color: #ffffff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
}

.user-info img {
  max-width: 150px;
  border-radius: 50%;
}

.container {
  margin-top: 20px;
}

.howl {
  margin-bottom: 20px;
}

.box {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.header h2 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.usernameLink {
  color: #333;
  text-decoration: none;
}

.usernameLink:hover {
  text-decoration: underline;
}

.text p {
  margin: 0;
  font-size: 1.1rem;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  align-items: center;
  display: block;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.username {
  font-size: 1.5rem;
  font-weight: bold;
}

.name {
  margin-top: 5px;
  font-size: 1.2rem;
}

.follow-button, .unfollow-button {
  display: block;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  margin: 0 auto;
}

.follow-button:hover, .unfollow-button:hover {
  background-color: #ddd;
}

.howls {
  margin-top: 30px;
}

.howl {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.howl .header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.howl .header h2 {
  margin-right: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.howl .header a {
  font-size: 1rem;
  color: #555;
}

.howl .date {
  font-size: 0.9rem;
  color: #aaa;
  margin-bottom: 10px;
}

.howl .content {
  font-size: 1.2rem;
  margin-bottom: 10px;
  line-height: 1.5;
}

.follows {
  margin-top: 30px;
}

.follow-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin-top: 20px;
}

.follow-list li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.follow-list li img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.follow-list li a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.follow-list li a:hover {
  color: #5b5bff;
}

a {
  text-decoration: none; 
  color: inherit; 
  cursor: default; 
}


